header {
    background-color:coral;
    color: black;
    padding: 100px;
    text-align: center;
}

section {
    background-color: coral ;
    margin: 0 1.5cm;
    font-size: 16px;
    color: black;
}